@font-face {
  font-family: 'Caviar';
  src: url('/fonts/CaviarDreams.ttf');
}
@font-face {
  font-family: 'Caviar-B';
  src: url('/fonts/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('/fonts/Raleway-Light.ttf');
}

.Mynavbar{
  box-shadow: 6px 6px 8px rgb(188, 185, 189);
}

#brand{
  margin-bottom:45px;
}
#brand-img{
  width: 70px;
}

.navbar{
  display: none;
  background-color: rgba(110, 109, 111, 0.74);
  /*box-shadow: 5px 5px 10px black;*/
  box-shadow:0 0 40px 13px rgba(61, 64, 74, 0.74);
  border-radius: 5px;
}

#navbar ul a{
  color: white;
  font-family: "Caviar";
  margin-top: 20px;
  font-size: 20px;
}

#content-pic{
  position: absolute;
  top:0;
  /*-webkit-filter:blur(8px);*/
}
#coll-btn{
  margin-top:35px;
}

#svg{
  position:absolute;
  top: 20px;
  left: 100px;
  height:30%;
  width:30%;
  z-index: 100;
  /*border: 1px solid white;*/
  transition: all 0.5s linear;
}

@media screen and (max-width: 992px) {
  #brand{
    margin-bottom:0px;
  }
  #brand-img{
    width: 28px;
  }
  #coll-btn{
    margin-top:5px;
  }

  #coll-btn > span{
    display: block;
    height: 1px;
  }

  #navbar ul a{
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
    margin-ottom: 5px;
  }
  #navbar ul a:hover{
    line-height: 10px;
    margin-top: 5px;
    margin-ottom: 5px;
    background-color: transparent;
  }

  #svg{
    position:absolute;
    top: 0px;
    left: 100px;
    height:20%;
    width:20%;
    z-index: 100;
  }
}
