@font-face {
  font-family: "CaviarB";
  src: url("/fonts/Caviar_Dreams_Bold.ttf");
}
@font-face {
  font-family: "Caviar";
  src: url("/fonts/CaviarDreams.ttf");
}
@font-face {
  font-family: "RalewayB";
  src: url("/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf");
}

.navbar{
  height: 80px;
  position: fixed;
  z-index: 100;
  background-color: black;
}

.navbar .navbar-toggle{
  top:10px;
}

.navbar .navbar-brand{
  position: relative;
  font-size: 25px;
  top:6px;
  color: white;
  font-family: 'CaviarB';
}


#ph1{
  position: relative;
  top: 28%;
  font-size: 60px;
  color: black;
  word-spacing: -6px;
  font-family: 'RalewayB'
}

#ph5{
  position: relative;
  top:29%;
  font-family: 'RalewayB'
}

#ph_btn{
  position: relative;
  top:300px;
  border: none;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'RalewayB';
  background-color: #37ac38;
}

#ph_btn2{
  position: relative;
  top:320px;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  padding-left: 90px;
  padding-right: 90px;
  font-family: 'RalewayB';
  background-color: #ffffff;
  color: black;
}

#ph_p{
  position: relative;
  top:330px;
  word-spacing: -1px;
  font-size: 8px;
  font-family: 'Raleway';
  color: black;
}


.navbar-nav{
  position: relative;
  top: 10px;
}

/*lis for navbar*/
#li a{
    font-size: 16px;
    color: white;
    font-family: 'CaviarB';
    margin-right: 10px
}

#s_up{
    font-size: 16px;
    color:#bdbdbd;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'CaviarB';
}
#s_in{
    font-size: 16px;
    color:rgb(189, 189, 189);
    margin-right: 10px;
    font-family: 'CaviarB';
}


/*style for hr*/
#hr-c {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(249, 239, 239, 0.75), rgba(0, 0, 0, 0));
}

/*collapsed navbar*/
.collapsed{
  -webkit-box-shadow: 10px 0px 21px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 21px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 0px 21px -9px rgba(0,0,0,0.75);
  background: black;
  width: 300px;
  position: absolute;
  z-index: 100;
  top:0;
  transform: translateX(-310px);
}
/*lis for collapsed*/
#li-c a{
    font-size: 15px;
    color: white;
    font-family: 'Caviar';
}
#li-c a:hover{
    color: black;
}

/*seperator*/
.sep{
  width: 1px;
  border:1px solid rgba(240, 245, 243,0.7);
  position: relative;
  height: 20px;
  top:15px;
}


/*page-header*/
.page-header{
  border: none;
  box-shadow: none;
  position: relative;
  width: 100%;
  margin-top: 10px;
  background: url('/imgs/bg-premium.jpg') top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*second page*/
.second{
  position: relative;
  top:-20px;
  height: 1000px;
  width: 100%;
}

.second-left{
  position: relative;
  background: url('/imgs/katy-perry.jpg') bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.second-left-context{
  position: absolute;
  top:10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width:50%;

}
.second-left-context h1{
  font-family: 'RalewayB';
  font-size: 70px;
  word-spacing: -5px;
  color:rgb(228, 67, 178);
    text-align: center;
}
.second-left-context h4{
  position: relative;
  margin-top:20px;
  font-family: 'Raleway';
  font-size: 15px;
  color:rgb(228, 67, 178);
  text-align: center;
  line-height: 20px;
}
.second-left-context a{
  font-family: 'RalewayB';
  font-size: 15px;
  color:#e443b2;
}
