@font-face {
  font-family: "Caviar";
  url:"/fonts/CaviarDreams.ttf"
}

.navbar-fixed-top {
    min-height: 8%;
}


@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;}

    .navbar-fixed-top .navbar-collapse {
       padding-top: 20px;
 }
}

.navbar .navbar-toggle{
  top:10px;
}

.navbar-brand{
  position: relative;
  font-size: 25px;
  top:10px;
}

.navbar-nav{
  position: relative;
  top: 10px;
}

#li>a{
    font-size: 15px;
    color: white;
    font-family: 'Caviar';
}

/*seperator*/
.sep{
  width: 1px;
  border:1px solid rgba(240, 245, 243,0.7);
  position: relative;
  height: 20px;
  top:15px;
}
