@font-face {
  font-family: 'Caviar';
  src: url('fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('fonts/Raleway-Light.ttf');
}


.sbt{
  margin-top: 10px;
}



.page-header{
  /*override bootstrap*/
  border-bottom: 0;
  box-shadow: 0 0 0 0;
  /*fixed header*/
  position: fixed;
  width: 100%;
  z-index: 1;
  top:0;
  margin-top: 0;
}

.header{
  height: 100px;
  position: absolute;
  box-shadow: 10px 10px 50px #A9A9A9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  -webkit-filter:blur(5px);
  background-color:#A9A9A9;
  opacity: 0.7;
  /*background-image: url('imgs/simple2.jpg');*/
  /*background-size: cover;*/
  z-index: -1;
}




#modallabel{
   font-family: 'Raleway-Light';
}

#header{
  text-shadow: 5px 5px 5px #FFEFD5;
  display:none;
  text-align: center;
  font-family: 'Caviar';
  color:#FFFFFF;
}

#login{
  display:none;
  opacity: 0.6;
  border:none;
  position: absolute;
  right:100px;
  background: none;
  font-family: 'Caviar';
  z-index: 1;
  outline: none;
}



.t1h{
   padding:5px;
   background:black;
   opacity: 0.7;
   text-align: center;
   font-family: 'Raleway-Light';
   position: relative;
   width: 100%;
   top: 20px;
   -webkit-transform:translatey(-100px);
   -ms-transform:translatey(-100px);
   transform:translatey(-100px);
   -webkit-transition:all, 0.5s, ease-in-out;
   transition:all 0.5s ease-in-out;
}
.t2h{
   padding:5px;
   background:black;
   text-align: center;
   font-family: 'Raleway-Light';
   position: relative;
   width: 100%;
   top: 20px;
   transform:translatey(30px);
   -webkit-transition: all 0.4s; /* Safari */
   -webkit-transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81); /* Safari */
   transition: all 0.4s;
   transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81);
}
.t3h{
   padding:5px;
   background:#8C8C89;
   text-align: center;
   font-family: 'Raleway-Light';
   position: relative;
   width: 100%;
   top: 20px;
}
.t4h{
  color:black;
   position: relative;
   padding:5px;
   /*background:#D591C1;*/
   text-align: center;
   font-family: 'Raleway-Light';
   position: relative;
   width: 100%;
   top: 20px;
}

hr{
  border-top: 2px solid;
  width: 0;
  size: 30px;
  color: black;
  position: relative;
  top: 5px;
  transition: all 0.4s ease-in-out;
}

#t1b{
  color: black;
  position: relative;
  top:50px;
  outline: none;
}
#t2b{
  color: black;
  position: relative;
  outline: none;
  top:50px;
  transform: scale(0);
  -webkit-transition: all 0.4s; /* Safari */
  -webkit-transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81); /* Safari */
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81);
}
#t3b{
  color: black;
  position: relative;
  top:50px;
  outline: none;
  transform: translatey(-800px);
  transition: all 0.4s ease-in-out;
}
#t4b{
  color: black;
  position: relative;
  top:30px;
  background: white;
  outline: none;
  transform: translatex(-400px);
  -webkit-transition: all 0.4s; /* Safari */
  -webkit-transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81); /* Safari */
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81);
}
.hover{
  display: none;
  color: white;
	position: absolute;
  z-index: 1;
	top: 0;
	left: 0;
	background-color: #5C5959;
  opacity: 0.7;
	width: 100%;
	height: 100%;
}
.hover2{
  z-index: 1;
  /*display: none;*/
  color: white;
	position: absolute;
	top: 0;
	left: 0;
	background: #5C5959;
  opacity: 0.7;
	width: 100%;
	height: 100%;
}
.hover3{
  z-index: 1;
  color: white;
	position: absolute;
	top: 0;
	left: 0;
	background: #C8C9BF;
  opacity: 0.7;
	width: 100%;
	height: 100%;
  transform: translate(300px,-300px) rotate(180deg);
  transition:all 0.4s ease-in-out;
}
.hover4{
  z-index: 1;
  color: white;
	position: absolute;
	top: 0;
	left: 0;
	background: #F1ECEC;
  opacity: 0;
	width: 100%;
	height: 100%;


  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: all 0.4s; /* Safari */
  -webkit-transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81); /* Safari */
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81);
}

#t1 > img{
  transition: all 0.5s ease-in-out;
}

#t2 > img{
  -webkit-transition: all 0.4s; /* Safari */
  -webkit-transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81); /* Safari */
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81);
}

#t3 > img{
  transition: all 0.5s ease-in-out;
}

#t4 > img{
  -webkit-transition: all 0.4s; /* Safari */
  -webkit-transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81); /* Safari */
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.88,-0.99, 0, 1.81);
}

#mythumbnail{
  display: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  top: 20px;
}
.thumbnail{
  height:200px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 20px black;
}
.thumbnail > img{
  width: 100vw;
  /*height: 100%;*/
}


#register{
  display:none;
  opacity: 0.6;
  border: none;
  position: absolute;
  right: 20px;
  background: none;
  font-family: 'Caviar';
  z-index: 1;
  outline: none;
}

#Home{
  display:none;
  position: absolute;
  left: 20px;
  background: none;
  color: white;
  font-family: 'Caviar';
  border: none;
  opacity: 0.6;
  z-index: 1;
  outline: none;
}



.carousel-indicators{
  display: none;
}

.carousel-inner{
   display: none;
   /*margin-top: 50px;*/
   box-shadow: 5px 5px 20px black;
   bottom: 0;
}
