div[class^='col-md']{
}


#main{
  padding-top: 60px;
}

#right-side{
  position: relative;
  top: 10px;
}

.fb-search{
  width: 500px;
}

#birthday{
  padding-bottom: 2px;
}

.chat{
  border: 1px solid rgba(117, 117, 117);
  border-radius: 3px;
  background: rgba(117, 117, 117, 0.50);
}

#suggested{
  margin-top: 5px;
}
#suggested .row{
  margin-top: 5px;
}
#trending-widgets{
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid lightgrey;
}
#trending-widgets .media{
  margin-top: 5px;
}

#title{
  line-height: 24px;
}
#trending{
    border-top: 1px solid lightgrey;
    padding-top: 2px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2px;

    margin-top: 2px;
    margin-bottom: 2px;
}
#trending ul a{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.chat{
  position: fixed;
  bottom: 0;
  right:20px;
  width: 300px;
}
