div[class^='col-md']{
}

body {

  background-color: #e9eaed;
}

#right{
  border-radius: 2px;
  color: #9197a3;
  border: 1px solid lightgrey;
  background-color: white;
  padding-bottom: 10px;
}
#right .glyphicon-gift {
  color:white;
  background-color: red;
  padding: 2px;
  border-radius: 2px;
}

#right-side-top { margin-top: 20px; margin-bottom: 5px }

#trendinghr1{
  margin-top: 5px;
  margin-bottom: 5px;
}
#trendinghr2{
  margin-top: 5px;
  margin-bottom: 5px;
}
#trending-widgetshr{
  margin-top: 5px;
  margin-bottom: 5px;
}

#main{
  padding-top: 60px;
}

#right-side{
  position: relative;
  top: 10px;
}

.fb-search{
  width: 500px;
}

#birthday{
  padding-bottom: 2px;
}

#second > .panel-body > .media > .media-body{
  margin-bottom: 10px;
}


#first > .panel-body > .media{
  border-top: 1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 2px;
}
#second  > .panel-body > .media:first-child{
   padding-top: 10px;
   padding-bottom: 10px;
}
.panel-body textarea{
resize: none;
box-shadow: none !important;
border: none;
}
.chat{
  color:white;
  border: 1px solid  #3a5795;;
  border-radius: 3px;
  background-color: #3a5795;
}

#suggested{
  margin-top: 5px;
}
#suggested .row{
  margin-top: 5px;
}
#trending-widgets{
  padding-top: 2px;
  padding-bottom: 2px;
}

#trending-widgets .media{
  margin-top: 5px;
}
#trending-widgets .glyphicon-flash{
  color: #5990ff;
}

.navbar{
  background-color: #3a5795;
}
.navbar #search{
  background: rgb(245, 245, 245)
}

.navbar .badge {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid black;
  /* Offset the badge a bit so it hovers over the glyphicon. */
  right: 8px;
  top: -10px;
}

#dd{
  background-color: transparent;
  border: none;
  /* Removes halo and shadow on button when clicked. */
  outline: none;
  box-shadow: none;
}
#left a{
  color:black;
  background: transparent;
}
#left a:hover{
  background-color: rgb(196, 196, 196);
}
#left .badge{

  color:black;
  background-color: transparent;
}
#dd:focus{
  color: white;
}
.navbar button:active,
.navbar button:focus,
.navbar button:active:focus {
  background-color: transparent;
  color: white;
  border: none;
  /* Removes halo and shadow on button when clicked. */
  outline: none;
  box-shadow: none;
}
.navbar button{
  background-color: transparent;
  border:none;
  color: #343536
}
.navbar button:hover {
  background-color: transparent;
  color: #22345c;
  border: none;
}

#join,#home{
  color:white;
}
#join:hover,#home:hover{
  background-color: rgb(27, 61, 121)
}

#title{
  line-height: 24px;
}
#trending{
    padding-top: 2px;
    padding-bottom: 2px;

    margin-top: 2px;
    margin-bottom: 2px;
}

#trending ul a{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: inherit;
  background-color: transparent;
}

#trending ul li.active{
   color: #5990ff;
   background-color: transparent;
   background: none;
}


.chat{
  position: fixed;
  bottom: 0;
  right:100px;
  width: 300px;
}
