@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
}

*{
  font-family: Roboto;
}

body{
  background: #E6E9ED;
  overflow-x: hidden;
}

.draggable.is-pointer-down {
  -webkit-box-shadow: 0px 0px 165px -18px rgba(99,99,99,1);
  -moz-box-shadow: 0px 0px 165px -18px rgba(99,99,99,1);
  box-shadow: 0px 0px 165px -18px rgba(99,99,99,1);
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(181, 178, 178, 0.8);
    box-shadow: 0 1px 1px rgba(48, 48, 48, 0.21) inset, 0 0 8px rgba(85, 85, 85, 0.6);
    outline: 0 none;
}

.search{
  position: relative;
  z-index: 1;
}
.send_r{
  display: none;
}
.send_s{
  display: none;
}
.send_w{
  display: none;
}

.alert{
  margin-bottom: 0px;
}

.friend_alert{
  background: #CCD1D9
}
.friend_list{
  background: #CCD1D9
}

.side_bar{
  border-radius: 0px 0px 0px 0px;
  overflow: scroll;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-shadow: 2px 0px 35px -9px rgba(168,168,168,1);
  -moz-box-shadow: 2px 0px 35px -9px rgba(168,168,168,1);
  box-shadow: 2px 0px 35px -9px rgba(168,168,168,1);
}
.side_nav{
  position: fixed;
  width: 400px;
  z-index: 200;
}

/*configure the side nav toggle*/
.hamburger:focus,
.hamburger:active,
.hamburger:visited,
.hamburger:link,
.hamburger{
  position: relative;
  height: 40px;
  width: 35px;
  top:25px;
  left: 20px;
  background: transparent;
  border:none;
  outline: none;
}

.menu-global {
  position: absolute;
  left: 0;
  border-top: 2px solid white;
  width: 100%;
}

.menu-top {
  top: 0;
}
.menu-middle {
  top: 12px;
}
.menu-bottom {
  top: 24px;
}


.msg_block{
  position:absolute;
  height: 60px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top:-8px;
  width: 70%;
  -webkit-box-shadow: 0px 0px 102px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 102px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 102px -12px rgba(0,0,0,0.75);
  overflow: auto;
}

.msg_container{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  z-index: 200
}

.cover{
  background: rgba(50, 48, 48, 0.71);
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  height: 60px;
  width: 60px;
  position: absolute;
}


.my_nav{
  font-weight:600;
  border-radius: 0px 0px 0px 0px;
  height: 60px;
  width: 370px;
  -webkit-box-shadow: 0px 7px 18px -5px rgba(168,168,168,1);
  -moz-box-shadow: 0px 7px 18px -5px rgba(168,168,168,1);
  box-shadow: 0px 7px 18px -5px rgba(168,168,168,1);
  z-index: 2;
  position: relative;
}


.my_nav>li>a{
  border-radius: 0px 0px 0px 0px;
  height: 60px;
  width: 91px;
}


.portfolio{
  height: 50px;
  width: 50px;
  position: absolute;
  top:15px;
  right:20px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  overflow: hidden;
}


.page_header{
  position: relative;
  height: 80px;
  background: #656D78;
  -webkit-box-shadow: 0px 7px 13px -2px rgba(181,179,181,1);
  -moz-box-shadow: 0px 7px 13px -2px rgba(181,179,181,1);
  box-shadow: 0px 7px 13px -2px rgba(181,179,181,1);
}


.settings{
  width: 300px;
  position: relative;
  margin-top: 5%;
  z-index: 200;
  -webkit-box-shadow: -1px 4px 22px -5px rgba(117,117,117,0.77);
  -moz-box-shadow: -1px 4px 22px -5px rgba(117,117,117,0.77);
  box-shadow: -1px 4px 22px -5px rgba(117,117,117,0.77);
  display: none;
}
.settings > .panel-body{
  height: 300px;
}

.chat-box{
  position: relative;
  margin-top: 5%;
  z-index: 100;
  -webkit-box-shadow: -1px 4px 22px -5px rgba(117,117,117,0.77);
  -moz-box-shadow: -1px 4px 22px -5px rgba(117,117,117,0.77);
  box-shadow: -1px 4px 22px -5px rgba(117,117,117,0.77);
  display: none;
}

.panel-body{
  overflow: scroll;
  overflow: auto;
  overflow-x: hidden;
}

/*srcoll bar style*/
.panel-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.panel-body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.panel-body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4e4e4e;
}

/*srcoll bar style*/
.side_bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.side_bar::-webkit-scrollbar
{
	width: 3px;
	background-color:  #F5F5F5;
}

.side_bar::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c6c4c4;
}
/*srcoll bar style*/
.msg_block::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.msg_block::-webkit-scrollbar
{
	width: 1px;
	background-color:  #F5F5F5;
}

.msg_block::-webkit-scrollbar-thumb
{
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c6c4c4;
}
/*srcoll bar style*/
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 1px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color:  #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #434A54;
}



.msg-body{
  color:white;
  background-color: #434A54;
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  -webkit-box-shadow: 0px 0px 18px -2px rgba(130,130,130,1);
  -moz-box-shadow: 0px 0px 18px -2px rgba(130,130,130,1);
  box-shadow: 0px 0px 18px -2px rgba(130,130,130,1);
  border: 0px solid #000000;
  min-height: 30px;
}
